<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Stock Price Tracker</title>
        <link rel="stylesheet" type=text/css href='{{ url_for('static',filename='style.css')}}'>
    </head>
    <body>
        <div class=page>
            <h1>Stock Price Trend</h1>
            <div class=metanav>
                <h2>Stock Ticker Symbol:</h2>
                <form id='input' method='post' action='index'>
                    <p>
                        <input type='text' name='ticker' placeholder='GOOG'/>
                    </p>
                    <p>
                        <input type="checkbox" name='feat1' value='Open'>Opening Price<br>
                        <input type="checkbox" name='feat2' value='Close'>Closing Price<br>
                        <input type="checkbox" name='feat3' value='Adjusted Open'>Adjusted Open<br>
                        <input type="checkbox" name='feat4' value='Adjusted Close'>Adjusted Close<br>
                    </p>
                    <p>
                        <input type="submit" value="Submit">
                    </p>
                </form>
            </div>
        </div>
    </body>
</html>

